services:
  sso:
    build: .
    restart: unless-stopped
    volumes:
      - .:/app
    command: python -m debugpy --listen 0.0.0.0:3000 main.py
    # command: python main.py
    # depends_on:
    #   # mongo:
    #   #   condition: service_healthy
    #   redis:
    #     condition: service_healthy
    ports:
      - 3013:3000
    networks:
      - traefik-net
      - data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${PROJECT_NAME}.entrypoints=web"
      - "traefik.http.routers.${PROJECT_NAME}.rule=Host(`${DOMAIN}`)"
      # - "traefik.http.routers.${PROJECT_NAME}.middlewares=https-redirect"
      - "traefik.http.routers.${PROJECT_NAME}-secure.entrypoints=websecure"
      - "traefik.http.routers.${PROJECT_NAME}-secure.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.${PROJECT_NAME}-secure.tls=true"
      - "traefik.http.routers.${PROJECT_NAME}-secure.tls.certresolver=letsencrypt"
      - "traefik.http.services.${PROJECT_NAME}.loadbalancer.server.port=8000"
      - "traefik.docker.network=traefik-net"

  redis:
    image: redis:alpine
    restart: unless-stopped
    # healthcheck:
    #   test: [ "CMD", "redis-cli", "ping" ]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 3
    volumes:
      - ./redis.data:/data
    networks:
      - data

  mongo:
    image: mongo
    restart: unless-stopped
    volumes:
      - ./mongo.data:/data/db
    # ports:
    #   - 27017:27017
    networks:
      - data

  mongo-express:
    image: mongo-express
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: "27017"
      # ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      # ME_CONFIG_MONGODB_ADMINUSERNAME: root
      # ME_CONFIG_MONGODB_ADMINPASSWORD: root
    networks:
      - traefik-net
      - data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${PROJECT_NAME}-mongo.entrypoints=web"
      - "traefik.http.routers.${PROJECT_NAME}-mongo.rule=Host(`mongo.${DOMAIN}`)"
      # - "traefik.http.routers.${PROJECT_NAME}-mongo.middlewares=https-redirect"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-secure.entrypoints=websecure"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-secure.rule=Host(`mongo.${DOMAIN}`)"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-secure.tls=true"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-secure.tls.certresolver=letsencrypt"
      - "traefik.http.services.${PROJECT_NAME}-mongo.loadbalancer.server.port=8081"
      - "traefik.docker.network=traefik-net"

networks:
  traefik-net:
    external: true
  data:
