python-multipart
python-dotenv
debugpy
# Pillow
requests
requests-oauthlib
# beautifulsoup4

requests
ipython
aiohttp
boto3
# openai

uvicorn
fastapi
fastapi-mail
pydantic[email]
redis
beanie

# python-jose[cryptography]
# passlib[bcrypt]
cryptography
bcrypt
pyjwt[crypto]
password-strength