uvicorn
fastapi
pydantic[email]
httpx

singleton_package
json-advanced
python-dotenv
debugpy
ipython

aiofiles
aiocache
usso[fastapi]

beanie
fastapi-mongo-base
redis

requests
requests-oauthlib

fastapi-mail

cryptography
bcrypt
pyjwt[crypto]
password-strength
