uvicorn
fastapi
pydantic[email]
httpx

singleton_package
json-advanced
python-dotenv
debugpy
ipython

aiofiles
aiocache
usso[fastapi]<0.28

beanie<2
fastapi-mongo-base<0.10.0
redis

requests
requests-oauthlib

fastapi-mail

cryptography
bcrypt
pyjwt[crypto]
password-strength
